.history {
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    flex-direction: column;
}

.history h2 {
    font-size: 45px;
}

.history-content {
    margin-top: 40px;
    display: grid;
    grid-template-rows: 130px 130px 130px;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 2vw;
}

.pokemon-block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #000;
    border-radius: 10px;
    transition: .4s;
}

.pokemon-block:hover {
    transform: scale(1.1);
}

.pokemon-block__text p {
    font-size: 20px;
    margin-bottom: 5px;
}