<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poxey</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/search/search.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/chat/chat.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <header class="header">
        <div class="header-logo">
            <h1>Poxey</h1>
        </div>
        <div class="header-nav">
            <ul class="header-nav-list">
                <li><a href="search">Поиск</a></li>
                <li><a class="active" href="chat">Чат</a></li>
                <li><a href="history">История</a></li>
                <li><a href="rating">Рейтинг</a></li>
                <li><a href="profile" id="username">{{ session['username'] }}</a></li>
                <li><a class="logout" href="logout">Выйти</a></li>
            </ul>
        </div>
    </header>
    <div class="chat">
        <h2>Общий чат</h2>
        <div class="chat-block">
            <div class="chat-content">
                {% for msg in messages %}
                    <div class="chat-content__row">
                        <div class="row-left">
                            <p class="row-username">{{ msg.username }}</p>
                            <p class="row-usermessage">{{ msg.message }}</p>
                        </div>
                        <div class="row-right">
                            <p>{{ "{:02}".format(msg.sent_on.hour) }}:{{ "{:02}".format(msg.sent_on.minute) }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <form method="POST" class="chat-input-form">
                <input type="text" class="user-message" placeholder="Введите сообщение" required />
                <input type="submit" class="submit-btn" />
            </form>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script>
        var socket = io.connect(`http://${document.domain}:${location.port}`);
        
        chat = document.getElementsByClassName("chat-content")[0];
        chat.scrollTop = chat.scrollHeight;
        
        socket.on("connect", () => {
            var form = $("form").on("submit", (e) => {
                e.preventDefault();
                let user = $("#username").text();
                let msg = $(".user-message").val();

                socket.emit("userMessage", {
                    username: user,
                    message: msg
                });
                
                $(".user-message").val("").focus();
            })
        });
        
        socket.on("messageResponse", (msg) => {
            if(typeof msg.username !== "undefined") {
                $(".chat-content").append(`<div class="chat-content__row">
                                            <div class="row-left">
                                                <p class="row-username">${msg.username}</p>
                                                <p class="row-usermessage">${msg.message}</p>
                                            </div>
                                            <div>
                                                <p>${msg.time}</p> 
                                            </div>
                                        </div>`);
            }
            
            chat = document.getElementsByClassName("chat-content")[0];
            chat.scrollTop = chat.scrollHeight;
        });
    </script>
</body>
</html>