<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poxey</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/search/search.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/history/history.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <header class="header">
        <div class="header-logo">
            <h1>Poxey</h1>
        </div>
        <div class="header-nav">
            <ul class="header-nav-list">
                <li><a href="search">Поиск</a></li>
                <li><a href="chat">Чат</a></li>
                <li><a class="active" href="history">История</a></li>
                <li><a href="rating">Рейтинг</a></li>
                <li><a href="profile">{{ session['username'] }}</a></li>
                <li><a class="logout" href="logout">Выйти</a></li>
            </ul>
        </div>
    </header>
    <div class="history">
        <h2>Ваша история</h2>
        <div class="history-content">
            {% for pokemon in pokemons %}
                <div class="pokemon-block">
                    <div class="pokemon-block__text">
                        <p>Ид: {{ pokemon['pokemon_id'] }}</p>
                        <p>Имя: {{ pokemon['pokemon_name'].title() }}</p>
                        <p>Тип: {{ pokemon['pokemon_type'].title() }}</p>
                    </div>
                    <div class="pokemon-block__img">
                        <img src="{{ pokemon['pokemon_img'] }}">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>