<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poxey</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/search/search.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/profile/profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/profile/popup.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <header class="header">
        <div class="header-logo">
            <h1>Poxey</h1>
        </div>
        <div class="header-nav">
            <ul class="header-nav-list">
                <li><a href="search">Поиск</a></li>
                <li><a href="history">История</a></li>
                <li><a class="active" href="profile">{{ session['username'] }}</a></li>
                <li><a class="logout" href="logout">Выйти</a></li>
            </ul>
        </div>
    </header>
    <div class="profile">
        <h2>Ваш профиль</h2>
        <div class="profile-content">
            <div class="profile-content__text">
                <p>Идентификатор: {{user_data['id']}}</p>
                <p>Логин: {{user_data['username']}}</p>
                <p>Почта: {{user_data['email']}}</p>
                <p>Количество запросов: {{user_data['count']}}</p>
            </div>
            <div class="profile-content__favor">
                <img src="{{user_data['img']}}" alt="">
                <p>Ваш любимый покемон: {{user_data['pokemon'].title()}}</p>
            </div>
        </div>
        <div class="profile-buttons">
            <button class="change-name">Сменить имя</button>
        </div>
    </div>
    <div class="change-name-popup">
        <img id="cross" src="{{ url_for('static', filename='assets/cross.png') }}">
        <form class="change-name-form" method="POST">
            <input type="text" required minlength="4" placeholder="Введите новое имя">
            <button>Изменить</button>
        </form>
    </div>
    
    <script src="{{ url_for('static', filename='scripts/profile/changeName.js') }}"></script>
</body>
</html>