<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poxey</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/search/search.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/rating/rating.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="{{ url_for('static', filename='scripts/global/dropDown.js') }}"></script>
</head>
<body>
    <header class="header">
        <div class="header-logo">
            <h1>Poxey</h1>
        </div>
        <div class="header-nav">
            <ul class="header-nav-list">
                <li><a href="search">Поиск</a></li>
                <li><a href="chat">Чат</a></li>
                <li><a class="active" href="rating">Рейтинг</a></li>
                <li class="coins">{{ session["money"] }} <img id="coin-img" src="{{ url_for('static', filename='assets/coin.png') }}"></li>
                <li>
                    <button onclick="showDropdown()" class="dropbtn">{{ session['username'] }}</button>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="profile">Профиль</a>
                        <a href="history">История</a>
                        <a class="logout" href="logout">Выйти</a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <div class="rating">
        <h1>Рейтинги запросов</h1>
        <div class="ratings">
            <div class="pokemons-rating">
                <h2>Рейтинг покемонов</h2>
                <div class="pokemons-rating__content">
                    <div class="pokemon-row">
                        <p class="place">Место</p>
                        <p class="name">Имя покемона</p>
                        <p class="count">Количество запросов</p>
                    </div>
                    {% for i in range(popular_pokemons|length) %}
                        <div class="pokemon-row">
                            <p class="place">#{{ i+1 }}</p>
                            <p class="name">{{ popular_pokemons[i][0].title() }}</p>
                            <p class="count">{{ popular_pokemons[i][1] }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="pokemons-rating">
                <h2>Рейтинг игроков</h2>
                <div class="pokemons-rating__content">
                    <div class="pokemon-row">
                        <p class="place">Место</p>
                        <p class="name">Имя пользователя</p>
                        <p class="count">Количество запросов</p>
                    </div>
                    {% for i in range(popular_users|length) %}
                        <div class="pokemon-row">
                            <p class="place">#{{ i+1 }}</p>
                            <p class="name">{{ popular_users[i][0] }}</p>
                            <p class="count">{{ popular_users[i][1] }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>