<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poxey</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/search/search.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <header class="header">
        <div class="header-logo">
            <h1>Poxey</h1>
        </div>
        <div class="header-nav">
            <ul class="header-nav-list">
                <li><a class="active" href="search">Поиск</a></li>
                <li><a href="history">История</a></li>
                <li><a href="rating">Рейтинг</a></li>
                <li><a href="profile">{{ session['username'] }}</a></li>
                <li><a class="logout" href="logout">Выйти</a></li>
            </ul>
        </div>
    </header>
    <div class="main-info">
        <span class="pokemon-logo" data-tilt></span>
        <h2>Мы знаем <span class="important-text">всех</span> покемонов! Проверьте сами :)</h2>
        <p>Введите имя <span class="important-text">покемона</span>, о котором вы хотите узнать информацию</p>
        <span class="pokemon-logo2" data-tilt></span>
    </div>
    <div class="search-input">
        <form class="form" method="POST">
            <input class="user-input" name="user_input" type="text" required placeholder="Введите имя покемона (на английском языке)">
            <button class="submit">Найти</button>
        </form>
    </div>
    <div class="random-input">
        <form class="random-form" method="POST">
            <button class="submit random-submit" name="random_button" value="Pikachu">Случайный Покемон</button>
        </form>
    </div>
    <div class="user-history">
        <h2>Найденный покемон</h2>
        {% if session['pokemon_name'] %}
            <div class="pokemon-block" style="display: flex; align-items: center; margin-top: 20px;">
                <div class="pokemon-block__text">
                    <style>p {margin-top: 7px; font-size: 24px;}</style>
                    <p>ID пользователя: {{ session['pokemon_id'] }}</p>
                    <p>Имя: {{ session['pokemon_name'].title() }}</p>
                    <p>Рост: {{ session['pokemon_height'] / 10 }} м.</p>
                    <p>Вес: {{ session['pokemon_weight'] / 10 }} кг.</p>
                    <p>Тип: {{ session['pokemon_types'][0].title() }}</p>
                </div>
                <div class="pokemon-block__image" style="margin-left: 20px;">
                    <img src="{{ session['pokemon_img'] }}" style="width: 135px; height: auto;">
                </div>
            </div>
        {% else %}
            <div class="history-blocks">
                <p class="not-items">Покемон не найден :(</p>
            </div>
        {% endif %}
    </div>
    <script
  src="https://code.jquery.com/jquery-3.5.0.min.js"
  integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
  crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='scripts/search/tilt.jquery.min.js') }}"></script>
</body>
</html>