<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poxey</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/signin/signin.css') }}">
</head>
<body>
    <header class="header">
        <h1>Poxey</h1>
        <p>Воплоти свои мечты в реальность!</p>
    </header>
    <div class="form-container">
        <div class="container">
            <form id="form" class="form" method="POST">
                <h2>Вперед к приключениям!</h2>
                <div class="form-control">
                    <label for="username">Имя пользователя</label>
                    <input type="text" name=username id="username" placeholder="Введите логин">
                    <small>Error message</small>
                </div>
                <div class="form-control">
                    <label for="password">Пароль</label>
                    <input type="password" name=password id="password" placeholder="Введите пароль">
                    <small>Error message</small>
                </div>
                <button type="submit">Войти</button>
                {% with messages = get_flashed_messages() %} 
                    {% if messages %}
                        {% for msg in messages %}
                            <p style="text-align: center; font-size: 12px; margin-top: 20px; color: red;">
                                {{ msg }}
                            </p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </form>
        </div>
    </div>
    <footer class="footer">
        &copy; 2020 Poxey Team. All rights reserved.
    </footer>
    
    <script src="{{ url_for('static', filename='scripts/signin/checkValidFormData.js') }}"></script>
</body>
</html>