<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poxey</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/signup/signup.css') }}">
</head>
<body>
    <header class="header">
        <h1>Poxey</h1>
        <p>Воплоти свои мечты в реальность!</p>
    </header>
    <div class="form-container">
        <div class="container">
            <form method="POST" id="form" class="form">
                <h2>Скорее регистрируйся!</h2>
                <div class="form-control">
                    <label for="username">Имя пользователя</label>
                    <input type="text" id="username" name="username" placeholder="Введите логин">
                    <small>Error message</small>
                </div>
                <div class="form-control">
                    <label for="email">E-Mail</label>
                    <input type="text" id="email" name="email" placeholder="Введите вашу почту">
                    <small>Error message</small>
                </div>
                <div class="form-control">
                    <label for="password">Пароль</label>
                    <input type="password" id="password" name="password" placeholder="Введите пароль">
                    <small>Error message</small>
                </div>
                <div class="form-control">
                    <label for="password2">Подтвердите пароль</label>
                    <input type="password" id="password2" name="password2" placeholder="Повторите пароль">
                    <small>Error message</small>
                </div>
                <button type="submit">Зарегистрироваться</button>
            </form>    
        </div>
    </div>
    <footer class="footer">
        &copy; 2020 Poxey Team. All rights reserved.
    </footer>
    
    <script src="{{ url_for('static', filename='scripts/signup/checkValidFormData.js') }}"></script>
</body>
</html>